.wrapper {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
}

.our_team_section {
    position: relative;
}

.wrapper h1 {
    font-size: 40px;
    margin-bottom: 4px;
}

.our_team_section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: ' ';
    background-size: 100% 100px;
    width: 100%;
    height: 90px;
    float: left;
    z-index: 99;
}

.wrapperC {
    width: 100%;
}

.our_team {
    padding: 10px 0 10px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
    width: 90%;
    border-radius: 10px;
    margin: 15px;
    /* /* display: flex;
  justify-content: center;
  align-items: center; */
    /* height: 250px;
  width: 100%;
  background-color: #683bb7;
  color: #fff;
 
  font-size: 4em; */
}

.our_team:hover {
    border-bottom: 5px solid #2f2f2f;
}

.pic {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.pic:before {
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #00325a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our_team:hover .pic:before {
    height: 100%;
    background: #2f2f2f;
}

.pic:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}

.our_team:hover .pic:after {
    background: #00325a;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    object-fit: fill;
    z-index: 2;
}

.our_team:hover .img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.team_content {
    margin-bottom: 30px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.post {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our_team:hover,
.social {
    bottom: 0;
}

.li {
    display: inline-block;
}

.social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.social li a:hover {
    color: #2f2f2f;
    background: #f7f5ec;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding: 0;
    }
}

@media only screen and (max-width: 680px) {
    .our_team {
        width: auto;
    }
    .wrapper {
        max-width: 1400px;
        padding: 0;
    }
}